<!-- Remove the container if you want to extend the Footer to full width. -->

  <!-- Footer -->
  <footer
    class="text-lg-start text-white mt-5 "
    style="background-color: rgb(8, 22, 48)"
  >
    <!-- Grid container -->
    <div class=" p-4 ">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="p-5 row align-items-center">
          <!--Grid column-->
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <img class="my-3" src="assets/images/Group (1).png" alt="Logo" />

            <p class="col-lg-4 col-md-6 text-wrap">
              Lorem ipsum, dolor sit amet cotetur adiping elit. Temporibus eius
              itaque nam beatae quisq uam asperes dolor cooris, perspiciatis
              omnis, sunt sed mollitia a ex error optio. Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Veritatis, aut.
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-md-0">
            <h5 class="">About</h5>

            <ul class="list-unstyled py-3">
              <li>
                <p class="text-white">How it Works</p>
              </li>
              <li>
                <p class="text-white">Terms and Conditions</p>
              </li>
              <li>
                <p class="text-white">Privacy Policy</p>
              </li>
              <li>
                <p class="text-white">About Us</p>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-md-0">
            <h5 class="">ImportantLinks</h5>

            <ul class="list-unstyled py-3">
              <li>
                <p class="text-white">Vehicle Listing</p>
              </li>
              <li>
                <p class="text-white">Contact Us</p>
              </li>
              <li>
                <p class="text-white">Company</p>
              </li>
              <li>
                <p class="text-white">Deals</p>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <div class="col-lg-2 col-md-6 mb-md-0">
            <h5 class="">Socials</h5>

            <ul class="list-unstyled py-3">
              <li>
                <p class="text-white">Instagram</p>
              </li>
              <li>
                <p class="text-white">Twitter</p>
              </li>
              <li>
                <p class="text-white">Facebook</p>
              </li>
              <li>
                <p class="text-white">Linkdin</p>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="" />
      <p class="copyright py-3">&copy;2023CharterCar.Allrightsarereserved</p>
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer --
<!-- End of .container -->

