<app-header></app-header>
<div>
  <h1 class="text-center mt-4">History</h1>
  <p style="color: #90a3bf" class="text-center my-3">
    Here you can see the history of rent cars that you used
  </p>
</div>

<div class="container">
  <div class="row justify-content-start mt-4">
    <div class="col-6 mt-3">
      <div class="card" style="width: 40rem">
        <div class="d-flex flex-row justify-content-between">
          <div class="container col-9">
            <h6 class="mt-3">Swift Suzuki 2023</h6>
            <span style="color: #90a3bf">Sports</span>
          </div>
          <div class="col-2 mt-3">
            <button class="btn btn-success btn-sm px-4">Return</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="card-body">
              <img
                src="../../assets/images/car.png"
                class="card-img-top"
                alt="..."
              />
              <img src="../../assets/images/gas-station.png" alt="..." />
              <span class="mx-1" style="color: #90a3bf">90L</span>
              <img
                class="mx-2"
                src="../../assets/images/manual.png"
                alt="..."
              /><span style="color: #90a3bf">Manual</span>
              <img
                class="mx-2"
                src="../../assets/images/profile-2user.png"
                alt="..."
              /><span style="color: #90a3bf">4 Peopele</span>
            </div>
          </div>
          <div class="col-3">
            <div class="card-body">
              <h1 style="font-size: 15px; font-weight: 700">London Bridge</h1>
              <span style="color: #90a3bf">Pick-up point</span>
              <hr style="width: 70%" />
              <h1 style="font-size: 15px; font-weight: 700">Washington DC</h1>
              <span style="color: #90a3bf">Drop Off</span>
            </div>
          </div>
          <div class="col-3 align-self-end my-3">
            <span style="color: #90a3bf">Price </span>
            <span style="font-size: 18px; font-weight: 700">$99.00</span>
            <span style="color: #90a3bf"> /day</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 mt-3">
      <div class="card" style="width: 40rem">
        <div class="d-flex flex-row justify-content-between">
          <div class="container col-9">
            <h6 class="mt-3">Swift Suzuki 2023</h6>
            <span style="color: #90a3bf">Sports</span>
          </div>
          <div class="col-2 mt-3">
            <button class="btn btn-success btn-sm px-4">Return</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="card-body">
              <img
                src="../../assets/images/car.png"
                class="card-img-top"
                alt="..."
              />
              <img src="../../assets/images/gas-station.png" alt="..." />
              <span class="mx-1" style="color: #90a3bf">90L</span>
              <img
                class="mx-2"
                src="../../assets/images/manual.png"
                alt="..."
              /><span style="color: #90a3bf">Manual</span>
              <img
                class="mx-2"
                src="../../assets/images/profile-2user.png"
                alt="..."
              /><span style="color: #90a3bf">4 Peopele</span>
            </div>
          </div>
          <div class="col-3">
            <div class="card-body">
              <h1 style="font-size: 15px; font-weight: 700">London Bridge</h1>
              <span style="color: #90a3bf">Pick-up point</span>
              <hr style="width: 70%" />
              <h1 style="font-size: 15px; font-weight: 700">Washington DC</h1>
              <span style="color: #90a3bf">Drop Off</span>
            </div>
          </div>
          <div class="col-3 align-self-end my-3">
            <span style="color: #90a3bf">Price </span>
            <span style="font-size: 18px; font-weight: 700">$99.00</span>
            <span style="color: #90a3bf"> /day</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 mt-3">
      <div class="card" style="width: 40rem">
        <div class="d-flex flex-row justify-content-between">
          <div class="container col-9">
            <h6 class="mt-3">Swift Suzuki 2023</h6>
            <span style="color: #90a3bf">Sports</span>
          </div>
          <div class="col-2 mt-3">
            <button class="btn btn-success btn-sm px-4">Return</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="card-body">
              <img
                src="../../assets/images/car.png"
                class="card-img-top"
                alt="..."
              />
              <img src="../../assets/images/gas-station.png" alt="..." />
              <span class="mx-1" style="color: #90a3bf">90L</span>
              <img
                class="mx-2"
                src="../../assets/images/manual.png"
                alt="..."
              /><span style="color: #90a3bf">Manual</span>
              <img
                class="mx-2"
                src="../../assets/images/profile-2user.png"
                alt="..."
              /><span style="color: #90a3bf">4 Peopele</span>
            </div>
          </div>
          <div class="col-3">
            <div class="card-body">
              <h1 style="font-size: 15px; font-weight: 700">London Bridge</h1>
              <span style="color: #90a3bf">Pick-up point</span>
              <hr style="width: 70%" />
              <h1 style="font-size: 15px; font-weight: 700">Washington DC</h1>
              <span style="color: #90a3bf">Drop Off</span>
            </div>
          </div>
          <div class="col-3 align-self-end my-3">
            <span style="color: #90a3bf">Price </span>
            <span style="font-size: 18px; font-weight: 700">$99.00</span>
            <span style="color: #90a3bf"> /day</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 mt-3">
      <div class="card" style="width: 40rem">
        <div class="d-flex flex-row justify-content-between">
          <div class="container col-9">
            <h6 class="mt-3">Swift Suzuki 2023</h6>
            <span style="color: #90a3bf">Sports</span>
          </div>
          <div class="col-2 mt-3">
            <button class="btn btn-success btn-sm px-4">Return</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="card-body">
              <img
                src="../../assets/images/car.png"
                class="card-img-top"
                alt="..."
              />
              <img src="../../assets/images/gas-station.png" alt="..." />
              <span class="mx-1" style="color: #90a3bf">90L</span>
              <img
                class="mx-2"
                src="../../assets/images/manual.png"
                alt="..."
              /><span style="color: #90a3bf">Manual</span>
              <img
                class="mx-2"
                src="../../assets/images/profile-2user.png"
                alt="..."
              /><span style="color: #90a3bf">4 Peopele</span>
            </div>
          </div>
          <div class="col-3">
            <div class="card-body">
              <h1 style="font-size: 15px; font-weight: 700">London Bridge</h1>
              <span style="color: #90a3bf">Pick-up point</span>
              <hr style="width: 70%" />
              <h1 style="font-size: 15px; font-weight: 700">Washington DC</h1>
              <span style="color: #90a3bf">Drop Off</span>
            </div>
          </div>
          <div class="col-3 align-self-end my-3">
            <span style="color: #90a3bf">Price </span>
            <span style="font-size: 18px; font-weight: 700">$99.00</span>
            <span style="color: #90a3bf"> /day</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>