<app-header></app-header>
<h1 class="container my-4">Favourite</h1>
<div class="container my-5">
  <div class="row justify-content-start">
    <div class="col-3 mt-3">
      <div class="card" style="width: 20rem">
        <div class="d-flex flex-row justify-content-between">
          <div class="container col-8">
            <h6 class="mt-3">Swift Suzuki 2023</h6>
            <span style="color: #90a3bf">Sports</span>
          </div>
          <div class="col-3 mt-3">
            <input
              type="checkbox"
              checked="checked"
              id="favorite"
              name="favorite-checkbox"
              value="favorite-button"
            />
            <label for="favorite" class="container">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-heart"
              >
                <path
                  d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                ></path>
              </svg>
            </label>
          </div>
        </div>
        <img src="../../assets/images/car.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <img src="../../assets/images/gas-station.png" alt="..." />
          <span class="mx-1" style="color: #90a3bf">90L</span>
          <img
            class="mx-2"
            src="../../assets/images/manual.png"
            alt="..."
          /><span style="color: #90a3bf">Manual</span>
          <img
            class="mx-2"
            src="../../assets/images/profile-2user.png"
            alt="..."
          /><span style="color: #90a3bf">4 Peopele</span>
          <div class="row align-items-center my-3">
            <div class="col-5">
              <h5 class="card-title">
                <span style="font-size: 12px">pkr.</span>4000/<span
                  style="font-size: 10px; color: #90a3bf"
                  >day</span
                >
              </h5>
            </div>
            <div class="col-7">
              <a href="#" class="btn btn-primary col-10">Rent Car</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card" style="width: 20rem">
        <div class="d-flex flex-row justify-content-between">
          <div class="container col-8">
            <h6 class="mt-3">Swift Suzuki 2023</h6>
            <span style="color: #90a3bf">Sports</span>
          </div>
          <div class="col-3 mt-3">
            <input
              type="checkbox"
              checked="checked"
              id="favorite"
              name="favorite-checkbox"
              value="favorite-button"
            />
            <label for="favorite" class="container">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-heart"
              >
                <path
                  d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                ></path>
              </svg>
            </label>
          </div>
        </div>
        <img src="../../assets/images/car.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <img src="../../assets/images/gas-station.png" alt="..." />
          <span class="mx-1" style="color: #90a3bf">90L</span>
          <img
            class="mx-2"
            src="../../assets/images/manual.png"
            alt="..."
          /><span style="color: #90a3bf">Manual</span>
          <img
            class="mx-2"
            src="../../assets/images/profile-2user.png"
            alt="..."
          /><span style="color: #90a3bf">4 Peopele</span>
          <div class="row align-items-center my-3">
            <div class="col-5">
              <h5 class="card-title">
                <span style="font-size: 12px">pkr.</span>4000/<span
                  style="font-size: 10px; color: #90a3bf"
                  >day</span
                >
              </h5>
            </div>
            <div class="col-7">
              <a href="#" class="btn btn-primary col-10">Rent Car</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card" style="width: 20rem">
        <div class="d-flex flex-row justify-content-between">
          <div class="container col-8">
            <h6 class="mt-3">Swift Suzuki 2023</h6>
            <span style="color: #90a3bf">Sports</span>
          </div>
          <div class="col-3 mt-3">
            <input
              type="checkbox"
              checked="checked"
              id="favorite"
              name="favorite-checkbox"
              value="favorite-button"
            />
            <label for="favorite" class="container">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-heart"
              >
                <path
                  d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                ></path>
              </svg>
            </label>
          </div>
        </div>
        <img src="../../assets/images/car.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <img src="../../assets/images/gas-station.png" alt="..." />
          <span class="mx-1" style="color: #90a3bf">90L</span>
          <img
            class="mx-2"
            src="../../assets/images/manual.png"
            alt="..."
          /><span style="color: #90a3bf">Manual</span>
          <img
            class="mx-2"
            src="../../assets/images/profile-2user.png"
            alt="..."
          /><span style="color: #90a3bf">4 Peopele</span>
          <div class="row align-items-center my-3">
            <div class="col-5">
              <h5 class="card-title">
                <span style="font-size: 12px">pkr.</span>4000/<span
                  style="font-size: 10px; color: #90a3bf"
                  >day</span
                >
              </h5>
            </div>
            <div class="col-7">
              <a href="#" class="btn btn-primary col-10">Rent Car</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card" style="width: 20rem">
        <div class="d-flex flex-row justify-content-between">
          <div class="container col-8">
            <h6 class="mt-3">Swift Suzuki 2023</h6>
            <span style="color: #90a3bf">Sports</span>
          </div>
          <div class="col-3 mt-3">
            <input
              type="checkbox"
              checked="checked"
              id="favorite"
              name="favorite-checkbox"
              value="favorite-button"
            />
            <label for="favorite" class="container">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-heart"
              >
                <path
                  d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                ></path>
              </svg>
            </label>
          </div>
        </div>
        <img src="../../assets/images/car.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <img src="../../assets/images/gas-station.png" alt="..." />
          <span class="mx-1" style="color: #90a3bf">90L</span>
          <img
            class="mx-2"
            src="../../assets/images/manual.png"
            alt="..."
          /><span style="color: #90a3bf">Manual</span>
          <img
            class="mx-2"
            src="../../assets/images/profile-2user.png"
            alt="..."
          /><span style="color: #90a3bf">4 Peopele</span>
          <div class="row align-items-center my-3">
            <div class="col-5">
              <h5 class="card-title">
                <span style="font-size: 12px">pkr.</span>4000/<span
                  style="font-size: 10px; color: #90a3bf"
                  >day</span
                >
              </h5>
            </div>
            <div class="col-7">
              <a href="#" class="btn btn-primary col-10">Rent Car</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card" style="width: 20rem">
        <div class="d-flex flex-row justify-content-between">
          <div class="container col-8">
            <h6 class="mt-3">Swift Suzuki 2023</h6>
            <span style="color: #90a3bf">Sports</span>
          </div>
          <div class="col-3 mt-3">
            <input
              type="checkbox"
              checked="checked"
              id="favorite"
              name="favorite-checkbox"
              value="favorite-button"
            />
            <label for="favorite" class="container">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-heart"
              >
                <path
                  d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                ></path>
              </svg>
            </label>
          </div>
        </div>
        <img src="../../assets/images/car.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <img src="../../assets/images/gas-station.png" alt="..." />
          <span class="mx-1" style="color: #90a3bf">90L</span>
          <img
            class="mx-2"
            src="../../assets/images/manual.png"
            alt="..."
          /><span style="color: #90a3bf">Manual</span>
          <img
            class="mx-2"
            src="../../assets/images/profile-2user.png"
            alt="..."
          /><span style="color: #90a3bf">4 Peopele</span>
          <div class="row align-items-center my-3">
            <div class="col-5">
              <h5 class="card-title">
                <span style="font-size: 12px">pkr.</span>4000/<span
                  style="font-size: 10px; color: #90a3bf"
                  >day</span
                >
              </h5>
            </div>
            <div class="col-7">
              <a href="#" class="btn btn-primary col-10">Rent Car</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>