<app-header></app-header>
<div class="container-fluid">
  <div class="row align-items-end">
    <div class="col-lg-8 col-md-4 col-sm-4">
      <img
        class=""
        src="../assets/images/banner lambo 1.png"
        alt=""
      />
    </div>
    <div class="col mb-5">
      <div>
        <h2 style="font-weight: 700">Safer, Faster And <br />Comfortable</h2>
        <p style="font-weight: 500">
          Get in touch with our<br />
          luxury cars
        </p>
        <button style="border-radius: 15px" class="btn btn-primary px-4">
          Rent Now
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-lg-7">
      <img
        class="image-fluid d-block"
        src="../assets/images/Group 24.png"
        alt=""
      />
    </div>
    <div class="col mb-5">
      <div>
        <h2 style="font-weight: 700">Safer, Faster And <br />Comfortable</h2>
        <p style="font-weight: 500">
          Get in touch with our<br />
          luxury cars
        </p>
        <button style="border-radius: 15px" class="btn btn-primary px-4">
          Rent Now
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex flex-row justify-content-between">
  <a class="navbar-brand" style="color: #90a3bf" href="#">Popular Car</a>
  <a class="navbar-brand" style="cursor: pointer" routerLink="vehicle-listing"
    >View All</a
  >
</div>

<div class="container d-flex flex-row justify-content-between">
  <div class="">
    <div class="card" style="width: 20rem">
      <div class="d-flex flex-row justify-content-between">
        <div class="container col-8">
          <h6 class="mt-3">Swift Suzuki 2023</h6>
          <span style="color: #90a3bf">Sports</span>
        </div>
        <div class="col-3 mt-3">
          <input
            type="checkbox"
            checked="checked"
            id="favorite"
            name="favorite-checkbox"
            value="favorite-button"
          />
          <label for="favorite" class="container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-heart"
            >
              <path
                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
              ></path>
            </svg>
          </label>
        </div>
      </div>
      <img src="../../assets/images/car.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <img src="../../assets/images/gas-station.png" alt="..." />
        <span class="mx-1" style="color: #90a3bf">90L</span>
        <img class="mx-2" src="../../assets/images/manual.png" alt="..." /><span
          style="color: #90a3bf"
          >Manual</span
        >
        <img
          class="mx-2"
          src="../../assets/images/profile-2user.png"
          alt="..."
        /><span style="color: #90a3bf">4 Peopele</span>
        <div class="row align-items-center my-3">
          <div class="col-5">
            <h5 class="card-title">
              <span style="font-size: 12px">pkr.</span>4000/<span
                style="font-size: 10px; color: #90a3bf"
                >day</span
              >
            </h5>
          </div>
          <div class="col-7">
            <a href="#" class="btn btn-primary col-10">Rent Car</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="card" style="width: 20rem">
      <div class="d-flex flex-row justify-content-between">
        <div class="container col-8">
          <h6 class="mt-3">Swift Suzuki 2023</h6>
          <span style="color: #90a3bf">Sports</span>
        </div>
        <div class="col-3 mt-3">
          <input
            type="checkbox"
            checked="checked"
            id="favorite"
            name="favorite-checkbox"
            value="favorite-button"
          />
          <label for="favorite" class="container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-heart"
            >
              <path
                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
              ></path>
            </svg>
          </label>
        </div>
      </div>
      <img src="../../assets/images/car.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <img src="../../assets/images/gas-station.png" alt="..." />
        <span class="mx-1" style="color: #90a3bf">90L</span>
        <img class="mx-2" src="../../assets/images/manual.png" alt="..." /><span
          style="color: #90a3bf"
          >Manual</span
        >
        <img
          class="mx-2"
          src="../../assets/images/profile-2user.png"
          alt="..."
        /><span style="color: #90a3bf">4 Peopele</span>
        <div class="row align-items-center my-3">
          <div class="col-5">
            <h5 class="card-title">
              <span style="font-size: 12px">pkr.</span>4000/<span
                style="font-size: 10px; color: #90a3bf"
                >day</span
              >
            </h5>
          </div>
          <div class="col-7">
            <a href="#" class="btn btn-primary col-10">Rent Car</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="card" style="width: 20rem">
      <div class="d-flex flex-row justify-content-between">
        <div class="container col-8">
          <h6 class="mt-3">Swift Suzuki 2023</h6>
          <span style="color: #90a3bf">Sports</span>
        </div>
        <div class="col-3 mt-3">
          <input
            type="checkbox"
            checked="checked"
            id="favorite"
            name="favorite-checkbox"
            value="favorite-button"
          />
          <label for="favorite" class="container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-heart"
            >
              <path
                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
              ></path>
            </svg>
          </label>
        </div>
      </div>
      <img src="../../assets/images/car.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <img src="../../assets/images/gas-station.png" alt="..." />
        <span class="mx-1" style="color: #90a3bf">90L</span>
        <img class="mx-2" src="../../assets/images/manual.png" alt="..." /><span
          style="color: #90a3bf"
          >Manual</span
        >
        <img
          class="mx-2"
          src="../../assets/images/profile-2user.png"
          alt="..."
        /><span style="color: #90a3bf">4 Peopele</span>
        <div class="row align-items-center my-3">
          <div class="col-5">
            <h5 class="card-title">
              <span style="font-size: 12px">pkr.</span>4000/<span
                style="font-size: 10px; color: #90a3bf"
                >day</span
              >
            </h5>
          </div>
          <div class="col-7">
            <a href="#" class="btn btn-primary col-10">Rent Car</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="card" style="width: 20rem">
      <div class="d-flex flex-row justify-content-between">
        <div class="container col-8">
          <h6 class="mt-3">Swift Suzuki 2023</h6>
          <span style="color: #90a3bf">Sports</span>
        </div>
        <div class="col-3 mt-3">
          <input
            type="checkbox"
            checked="checked"
            id="favorite"
            name="favorite-checkbox"
            value="favorite-button"
          />
          <label for="favorite" class="container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-heart"
            >
              <path
                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
              ></path>
            </svg>
          </label>
        </div>
      </div>
      <img src="../../assets/images/car.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <img src="../../assets/images/gas-station.png" alt="..." />
        <span class="mx-1" style="color: #90a3bf">90L</span>
        <img class="mx-2" src="../../assets/images/manual.png" alt="..." /><span
          style="color: #90a3bf"
          >Manual</span
        >
        <img
          class="mx-2"
          src="../../assets/images/profile-2user.png"
          alt="..."
        /><span style="color: #90a3bf">4 Peopele</span>
        <div class="row align-items-center my-3">
          <div class="col-5">
            <h5 class="card-title">
              <span style="font-size: 12px">pkr.</span>4000/<span
                style="font-size: 10px; color: #90a3bf"
                >day</span
              >
            </h5>
          </div>
          <div class="col-7">
            <a href="#" class="btn btn-primary col-10">Rent Car</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center my-5">Fell the best experience with our luxury car</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <img
          class="rounded d-block position-relative"
          src="../../assets/images/Vector 3.png"
          alt=""
          srcset=""
        />
      </div>
      <h1 class="text-center my-3" style="font-size: 30px; color: #3563e9">
        Book with Flexibility
      </h1>
      <p class="text-center">
        Easily find car and book with no<br />change fees
      </p>
    </div>
    <div class="col">
      <div class="d-flex justify-content-center">
        <img
          class="rounded d-block"
          src="../../assets/images/Vector 3.png"
          alt=""
          srcset=""
        />
      </div>
      <h1 class="text-center my-3" style="font-size: 30px; color: #3563e9">
        Book with Flexibility
      </h1>
      <p class="text-center">
        Easily find car and book with no<br />change fees
      </p>
    </div>
    <div class="col">
      <div class="d-flex justify-content-center">
        <img
          class="rounded d-block"
          src="../../assets/images/Vector 3.png"
          alt=""
          srcset=""
        />
      </div>
      <h1 class="text-center my-3" style="font-size: 30px; color: #3563e9">
        Book with Flexibility
      </h1>
      <p class="text-center">
        Easily find car and book with no<br />change fees
      </p>
    </div>
  </div>
</div>

<div class="container rounded bg-image m-auto mt-5 mb-5">
  <div class="row">
    <div class="col-12 p-4">
      <h1 class="text-light">
        Become a Driver<br />Your Time.Your Goals.You're The <br />Boss
      </h1>
      <h5 class="text-light">Subscribe Join US</h5>
      <div class="mb-3">
        <div class="d-flex">
          <div class="col-4">
            <input
              style="border-radius: 9px"
              type="text"
              id="form2Example18"
              class="form-control form-control-lg py-2"
              placeholder="Email"
            />
          </div>
          <div class="col">
            <button style="background-color:  #21408E; color: white;" class="btn btn-lg" type="button">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
