<section class="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img
          src="../../assets/images/Cover.png"
          alt="Login image"
          class="w-100% h-100%"
          style="object-fit: cover; object-position: left"
        />
      </div>
      <div class="col-sm-6 text-black">
        <div class="d-flex justify-content-center mt-4 py-5 ms-xl-4">
          <img width="173px" src="../assets/images/Group.png" />
        </div>
        <div class="ms-xl-4">
          <h2 class="text-center">Login to your account</h2>
          <p class="text-center" style="color: #64748b">
            Welcome back! please enter your detail
          </p>
        </div>
        <div
          class="d-flex align-items-center px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5"
        >
          <form [formGroup]="loginForm" class="container col-lg-10">
            <div class="form-outline mb-4">
              <label
                for="emailForm"
                class="my-1"
                style="font-size: 14px; font-weight: 700; letter-spacing: 1px"
                >Email</label
              >
              <input
                style="border-radius: 9px"
                type="email"
                id="emailForm"
                class="form-control form-control-lg py-2"
                formControlName="controlEmail"
                placeholder="Enter your email"
              />
              <span>
                <small
                  *ngIf="
                    controlEmail && controlEmail.invalid && controlEmail.touched
                  "
                  style="color: red"
                  >Email is invalid</small
                >
              </span>
            </div>

            <div class="form-outline mb-4">
              <label
                for="passwordForm"
                class="my-1"
                style="font-size: 14px; font-weight: 700; letter-spacing: 1px"
                >Password</label
              >
              <input
                style="border-radius: 9px"
                type="password"
                id="passwordForm"
                class="form-control form-control-lg py-2"
                formControlName="controlPassword"
                placeholder="Enter your Password"
              />
              <small
                *ngIf="
                  controlPassword &&
                  controlPassword.invalid &&
                  controlPassword.touched
                "
                style="color: red"
                >Password is invalid</small
              >
            </div>
            <div class="d-flex justify-content-center pt-1 mb-3">
              <button
                [routerLink]=" login == true ? '/' : '' " 
                (click)="loginBtn()"
                routerLinkActive="router-link-active"
                class="btn btn-primary btn-lg text-center col-11"
                type="button"
                [disabled]="loginForm.invalid"
              >
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
